extends base.pug

block script 
    script 
      include ../static/index.js

block style 
    style 
      include ../static/style.css 

block content 
    

    section#intro 
      p Welcome to 
       strong ALPHA 
       |Dance Academy
      p#small Eat Sleep Dance Repeat

    section#mission 
      h2 Our Missions
      div.card 
       h3 Dance Perfection
       div.card-box 
         div.card-img 
           img(src="../static/img1.jpg", alt="")
         div.card-content 
           p This is the best dance academy of the universe
      div.card 
       h3 Dance the wat you like
       div.card-box 
         div.card-img 
           img(src="../static/img2.jpg", alt="")
         div.card-content 
           p This is the best dance academy of the universe
      div.card 
       h3 Expert Teaching 
       div.card-box 
         div.card-img 
           img(src="../static/img3.jpg", alt="")
         div.card-content 
           p This is the best dance academy of the universe

    section#sponsor 
      h2 Our Sponsors
      div.sponsors 
        img(src="../static/logo1.png", alt="")
        img(src="../static/logo2.png ", alt="")
        img(src="../static/logo3.png", alt="")
        img(src="../static/logo4.png", alt="")


