doctype html
html 
  head 
    title This is title 
    style 
      include ../static/style.css 
  body 
    nav#navbar 
      div.logo 
          img(src="../static/logo.jpg")
          |ALPHA
      ul 
        
        li #[a(href="/") Home]
        li #[a(href="/") About ]
        li #[a(href="/") Services]
        li #[a(href="/") Contact Us]

    section#intro 
      p Welcome to 
       strong ALPHA 
       |Dance Academy
      p#small Eat Sleep Dance Repeat

    section#mission 
      h2 Our Missions
      div.card 
       h3 Dance Perfection
       div.card-box 
         div.card-img 
           img(src="../static/img1.jpg", alt="")
         div.card-content 
           p This is the best dance academy of the universe
      div.card 
       h3 Dance the wat you like
       div.card-box 
         div.card-img 
           img(src="../static/img2.jpg", alt="")
         div.card-content 
           p This is the best dance academy of the universe
      div.card 
       h3 Expert Teaching 
       div.card-box 
         div.card-img 
           img(src="../static/img3.jpg", alt="")
         div.card-content 
           p This is the best dance academy of the universe

    section#sponsor 
      h2 Our Sponsors
      div.sponsors 
        img(src="../static/logo1.png", alt="")
        img(src="../static/logo2.png ", alt="")
        img(src="../static/logo3.png", alt="")
        img(src="../static/logo4.png", alt="")

    footer
      |Copyright 2021 © alphadanceacademy.com All rights reserved.

    script 
      include ../static/index.js 
