@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#intro{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: center / cover no-repeat url('intro.jpg') ;
  background-color: red;
  height: 320px;
  font-size: 4rem;
}
#intro #small{
  margin-top: 10px;
  padding-top: 10px;
  font-size: 2rem;
}

#mission{
  background-color: white;
  height: 300px;
  width: 100%;
  text-align: center;
}
#mission h2{
  font-family: 'yeon sung'; 
  padding: 8px;
  text-align: center;
  
}
.card {
  border: 3px solid black;
  width: 21%;
  height: 200px;
  display: inline-block;
  margin: 15px 23px ;
  border-radius: 12px;
  text-align: center;
  background-color: rgb(247, 238, 242);
}
.card h3 {
  margin-top: 10px;
  padding: 6px;
  font-family: cursive;
}
.card-box  {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
.card-img{
  height: 100px;
}
.card-img img{
   height: inherit;
}
#sponsor{
  padding-top: 20px;
  background-color: rgb(234, 238, 215);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sponsor h2{
  font-family: 'yeon sung';
  padding: 4px;
  text-align: center;
}
.sponsors {
  padding-top: 20px;
  display: flex;
  height: 80%;
  justify-content: space-around;
  width: 80%;
  
}
.sponsors img{
  height: 50%;
}